# Store data here
dbpath=C:\mongodb\data
 
# All output goes here
logpath=C:\mongodb\log\mongo.log

# Append log
logappend=true

# IP address
bind_ip = 127.0.0.1
port = 27017

# Enable journalig
journal=true
 
# Don't show mongodb http interface
nohttpinterface=true
 
# Enable mongodb rest interface
rest=false