@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);

.wrap{
    width: 810px;
    overflow: hidden;
    margin: auto;
}

.header{
    background-image: url('../img/header.png');
    box-shadow: 1px 1.732px 1px 0px rgba(0, 0, 0, 0.2),
        inset 0px 0px 17px 0px rgba(15, 93, 199, 0.33);
    height: 124px;
    width: 100%;
}

.header .message{
    padding-left: 35px;
    float: left;
    width: 650px;
}

.header .message h2{
    font-family: Open Sans;
    text-shadow: -1.204px 1.597px 1px #5686a5;
    line-height: 90%;
    font-weight: 700;
    font-size: 40px;
    color: #fff;

}

.header .logo{
    padding-top: 15px;
    float: left;
    width: 150px;
}

.header .logo img:hover{
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}

.content{
    height: 594px;
    background-image: url('../img/patern.png');
}

.footer{

}

.navbar{
    width: 100%;
    padding-top: 35px;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline;
}

.navbar ul li a{
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;

    border-radius: 3px;
    color: #f1592a;
}

.navbar ul li a.active {
    background-color: #d7f0f9;
}

.navbar ul li a:hover{
    background-color: #d7f0f9;
}

.navbar ul li.target a{
    box-shadow: inset 0px -3px 0px 0px #dd3616;
    -webkit-box-shadow: inset 0px -3px 0px 0px #dd3616;
    -moz-box-shadow: inset 0px -3px 0px 0px #dd3616;
    -o-box-shadow: inset 0px -3px 0px 0px #dd3616;
    padding: 15px 30px 15px 30px;
    background-color: #f1592a;
    color: #fff;
}

.navbar ul li.target a:hover{
    padding: 15px 30px 15px 30px;
    background-color: #f6825f;
    color: #4e210e;
}

.pager{

}

.intro{
    height: 594px;
    background-image: url('../img/background.png');
}

.intro div{
    font-family: Open Sans;
    padding-top: 44px;
    width: 550px;
    height: 100%;
    margin: auto;
    color: #fff;
}

.intro h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}

.intro p{
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    margin-top: 20px;
    font-size: 32px;
}

.button{
    color: #fff;
    font-size: 30px;
    background-color: #f1592a;
    text-transform: uppercase;
    padding: 5px 65px 5px 65px;
    box-shadow: inset 0px -3px 0px 0px #dd3616;
    -webkit-box-shadow: inset 0px -3px 0px 0px #dd3616;
    -moz-box-shadow: inset 0px -3px 0px 0px #dd3616;
    -o-box-shadow: inset 0px -3px 0px 0px #dd3616;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 20px;
}

.button:hover{
    color: #4e210e;
    background-color: #f6825f;
    text-decoration: none;
}

.intro img{
    margin-top: 10px;
    margin-bottom: 30px;
}

.home{
    font-family: Open Sans;
    width: 650px;
    height: 100%;
    margin: auto;
}

.home h3{
    text-align: center;
    font-weight: 700;
    color: #4e210e;
}

.home h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #4e210e;
}

.home p{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #f1592a;
    text-decoration: underline;
}

.home a{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 14px ;
    color: #f1592a;
}

.home .button{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
}

.home .button:hover{
    color: #4e210e;
}

.carousel{
    width: 600px;
    margin: auto;
}

.carousel-indicators
.active {
    background-color: #f1592a;
}

.create{
    font-family: Open Sans;
    width: 720px;
    height: 100%;
    margin: auto;
}

.create h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    color: #4e210e;
}

.create .menu{
    float:left;
    width: 100px;
    height: 315px;
}

.create .menu img{
    width: 88px;
    margin-bottom: 8px;
    background-color: #d7f0f9;
}

.create .menu img:hover{
    cursor: pointer;
}

.create .poster{
    float:left;
    margin-left: 15px;
    margin-bottom: 20px;
}

.create .poster .input{
    cursor: url(../img/pencil.png) 0 64, auto;
    font-family: Lobster;
    font-weight: 400;
    background: transparent;
    /* text-align: center; */
    overflow-y: hidden;
    position: absolute;
    /* color: white; */
    margin-left: 30px;
    margin-top: 251px;
    line-height: 29px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 24px;
    outline: none;
    width: 450px;
    border: none;
    resize: none;
}

.create .button{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

.create .button:hover{
    color: #4e210e;
}

.create p{
    text-align: right;
    margin-top: 10px;
}

.create .buttons{
    width: 330px;
    float: left;
}

.create .next{
    width: 270px;
    float: left;
}

.contact{
    height: 594px;
    background-image: url('../img/background.png');
}

.contact form{
    position: absolute;
    font-family: Open Sans;
    background-color: steelblue;
    margin-left: 130px;
    margin-top: 80px;
    padding: 20px;
    height: 450px;
    width: 550px;
    color: #fff;
}

.contact p{
    line-height: 26px;
    font-weight: 600;
    margin-top: 30px;
    font-size: 24px;
}

.contact input{
    width: 99%;
    color: black;
}

.contact input[type='text']:focus,
.contact input[type='email']:focus{
    border-color: #f1592a;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #f1592a;
}

.contact div{
    line-height: 24px;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
}

.contact div.column{
    margin: 2px;
    float: left;
    width: 49%;
}

.contact .button{
    font-size: 24px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.gallery{
    font-family: Open Sans;
    width: 720px;
    height: 100%;
    margin: auto;
}

.gallery .menu{
    float: left;
    width: 10%;
}

.gallery .menu p{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.gallery .menu img{
    margin-top: 30px;
}

.gallery .preview{
    padding-left: 15px;
    float: left;
    width: 90%;
}

.gallery .preview .item{
    float: left;
    margin: 15px 0 0 20px;
    width: 290px;
}

.item .name{
    font-weight: bold;
    font-size: 15px;
    float: left;
    width: 75%;
}

.item .score{
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    float: right;
    width: 25%;
}

.gallery .preview
.item a,
.gallery .preview
.item .poster{
    width: inherit;
}

.gallery .button{
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
}

.gallery .pager{
    padding: 5px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.name{
    font-weight: bold;
    font-size: 20px;
    float: left;
    width: 75%;
}

.score{
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    float: right;
    width: 25%;
}

.rules{
    font-family: Open Sans;
    overflow-y: scroll;
    padding: 0 15px 0 15px;
    width: 650px;
    height: 500px;
    margin: auto;
}

.rules::-webkit-scrollbar {
    width: 8px;
}

.rules::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #d7f0f9;
}

.rules::-webkit-scrollbar-thumb {
    background: #f1592a;
    border-radius: 5px;
}

.rules p{
    text-align: justify;
}

.hidden{
    visibility: hidden;
    position: absolute;
}
